<main style = "height: 100%;">
  <mat-toolbar color="primary" class="app-header">
    <div class = "navbar">
        <div class = "row">
          <a href="app" class="positronx">Maintenance Service</a>
       </div>
  
        <div class = "row-end">
          <a mat-button mat-raised-button routerLink="addticket" routerLinkActive="active">Ticket erstellen</a>
          <a mat-button mat-raised-button routerLink="viewtickets" routerLinkActive="active">Ticketübersicht</a>
      </div>
    </div>
  </mat-toolbar>
  
  
  <div style="height:70px"></div>
  <alert> </alert>
  <router-outlet> </router-outlet>
  
  </main>