<main style = "height: 100%;">
  <mat-toolbar color="primary" class="app-header">
    <div class = "navbar">
        <div class = "row">
          <a href="app" class="positronx">Maintenance Service</a>
       </div>

       
  
        <div *ngIf = "this.isAuthenticated != null" class = "row-end">
          <div style = "font-size: 13px; cursor:pointer;" *ngIf = "this.isAuthenticated.emailVerified == false" (click) = "sendVerificationLink()">
              Email ist nicht verifiziert - Link hier neu senden!
          </div>
          <div style = "font-size: 15px; cursor:pointer; margin-left: 20px;" [matMenuTriggerFor] = "menu">{{isAuthenticated.email}}</div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item style = "font-size: 15px;" (click) ="signOut()">Abmelden</button>
            <button mat-menu-item style = "font-size: 15px;" (click) ="openDeleteDialog()">Benutzer löschen</button>
          </mat-menu>
          <a style = "margin-left: 15px" mat-button mat-raised-button routerLink="addticket" routerLinkActive="active">Ticket erstellen</a>
          <a style = "margin-left: 15px" mat-raised-button routerLink="viewtickets" routerLinkActive="active">Ticketübersicht</a>
      </div>
      <div *ngIf = "this.isAuthenticated == null" class = "row-end">
        <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Anmelden</a>
        <a style = "margin-left: 15px" mat-raised-button routerLink="register" routerLinkActive="active">Registrieren</a>
      </div>
    </div>
  </mat-toolbar>
  
  
  <div style="height:70px"></div>
  <alert> </alert>
  <router-outlet> </router-outlet>
  
  </main>