<div class="main-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div class="spacer"></div>
    <mat-card fxLayout="column" fxLayoutAlign="start center">
        <h1>Willkommen zum JKU Maintenance Service</h1>
        <app-clock ></app-clock>

        <div fxLayout=column fxLayoutAlign="center center" class="weather-text">
            <div> Temperatur: {{temperatur}}°C</div>
            <div> Wetter: {{weather}} </div>
            <br>
        </div>
        <div fxLayout=column fxLayoutAlign="start end" class="amount-text">
            <div>Anzahl aller Tickets: {{totalAmountOfTickets}}</div>
            <div>Offene Tickets: {{openTickets}}</div>
            <div>Geschlossene Tickets: {{closedTickets}}</div>
        </div>
    </mat-card>
</div>

