<div class = "main-wrapper" fxLayout = column fxLayoutAlign = "start center">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Nr Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Nr. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        
         <!-- Datum Column -->
         <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Datum </th>
            <td mat-cell *matCellDef="let element"> {{element.createdTimeInSeconds | date:'dd.MM.yyyy HH:mm'}} </td>
          </ng-container>

        <!-- RoomNr Column -->
        <ng-container matColumnDef="roomNr">
            <th mat-header-cell *matHeaderCellDef> Raum Nr. </th>
            <td mat-cell *matCellDef="let element"> {{element.room.roomNr}} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> Titel </th>
          <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>
      
        <!-- priority Column -->
        <ng-container matColumnDef="priority">
            <th mat-header-cell *matHeaderCellDef> Priorität </th>
            <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.resolved? "Geschlossen":"Offen"}} </td>
        </ng-container>

        <!-- roomstatus Column -->
        <ng-container matColumnDef="roomStatus">
            <th mat-header-cell *matHeaderCellDef> Raum Status </th>
            <td mat-cell *matCellDef="let element"> {{element.room.booked? "Belegt": "Frei"}} </td>
        </ng-container>

        <!-- Edit Column -->
        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Bearbeiten </th>
            <td mat-cell *matCellDef="let element">
                <img style ="width: 20px; cursor: pointer;" src="../../assets/edit.png" (click) = "openEditDialog(element)"> 
            </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Löschen </th>
            <td mat-cell *matCellDef="let element">
                <img style ="width: 20px; cursor: pointer;" src="../../assets/delete.png" (click) = "openDeleteDialog(element)"> 
            </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>